body { 
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: white;
    background: grey;
    margin: 0;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

img {
    width: 70%;
    height: 40%;
}

.header-title {
    background-image: url(stomatopoda.jpg);
    background-size: cover;
    height: 500px;
    width: 80%;
    background-position: 60% 40%;
    display: inline-block
    
}
 aside {
     display: inline-block;

 }

a:hover {
    text-decoration: none;
}