main {
  display: flex;
  justify-content: center;
}

.list {
  justify-self: center;
}

.pokemon-card {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 10px;
  margin: 25px;
  padding: 25px;
}

img {
  height: auto;
  width: auto;
}